<style>
    table,th,td {
        border:3px solid black;
        border-collapse: collapse
    }
</style>

<h1> BIENVENIDOS A LA CONCESIONARIA </h1>
<h2><%= contenido %></h2>

<table>
    <tr>
        <th>Número de motor</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Año</th>
    </tr>

</table>

